.delimiter {
    background-image: url("../../../img/pattern.png");
    background-size: cover;
    text-align: center;
    padding: 30px 11px;
    margin-bottom: 30px;
}

.delimiter__content {
    color: #fff;
    font-size: 18px;
    font-family: "gothampro";
    font-weight: 300;
    line-height: 1.667em;
}

.delimiter__content span {
    color: #ec1e79;
    font-weight: bold;
}