.socials,
.footer--text {
    width: 245px;
    font-size: 14px;
    color: #ffffff;
}



.footer--text a {
    font-family: "Gotham Pro";
    color: #ffffff;
    font-weight: 700;
    text-decoration: underline;
}