.social__icons {
    padding: 6px 0;
}

.social__icon {
    display: inline-block;

    width: 20px;
    height: 20px;
    margin-right: 6px;

    border-radius: 50%;
    background-color: #d0d0d0;
}

.social__icon div {
    width: 20px;
    height: 20px;
}

.link__vk--pic {
    background: url('./../../../img/vk.png') no-repeat;
}

.link__fb--pic {
    background-image: url('../../../img/fb.png');
}

.link__google--pic {
    background-image: url('./../../../img/twitter.png');
}

.link__twitter--pic {
    background-image: url('./../../../img/google.png')
}

.link__mail--pic {
    background-image: url('../../../img/mail.png');
}

.social__icon:hover {
    border-radius: 50%;
    background-color: #ec1e79;
}
