.price__img {
	width: 250px;
	height: 153px;
	border-radius: 3%;
	-webkit-border-radius: 3%;
	-moz-border-radius: 3%;
	-ms-border-radius: 3%;
	-o-border-radius: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
}





.price__img--alone {
	background: url(./../../../img/price1.png);
	background-size: contain;
	filter: brightness(40%);
	-webkit-filter: brightness(40%);
}