.news-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 66px;

}

.news-nav__page {
    padding-right: 20px;
    color: #656464;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
}

.news-nav__list {
    display: flex;
    flex-direction: row;
}



.news-nav__link {
    color: #221f1f;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.news-nav__link:hover {
    background-color: #27273e;
    color: #ec1e79;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

