header .menu__list {
    display: flex;
    margin: 0 -25px;
}

header .menu__link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    margin: 0 25px;
}


header .menu__link:hover {
    color: #ec1e79;
}

header .menu__link:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 18px;
    background-image: url("/img/icons/css_sprites.png");
    margin-right: 25px;
}

header .menu__item.active .menu__link {
    color: #ec1e79;
}

header .menu__link--main:before {
    background-position: -10px -10px;

}

header .menu__link--main:hover:before {
    background-position: -10px -10px;
}

header .menu__item--active .menu__link--main:before {
    background-position: -10px -10px;
}

header .menu__link--feed:before {
    background-position: -201px -10px;
}

header .menu__link--feed:hover:before {
    background-position: -241px -10px;
}

header .menu__item--active .menu__link--feed:before {
    background-position: -241px -10px;
}

header .menu__link--wallet:before {
    background-position: -84px -10px;
}

header .menu__link--wallet:hover:before {
    background-position: -123px -10px;
}

header .menu__item--active .menu__link--wallet:before {
    background-position: -123px -10px;
}